 .u-section-1 {
  background-image: url("images/Hero-1600x900.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 100%;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/recycling_hero_3200x1800.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 896px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 61px 113px 0;
}

.u-section-2 .u-line-1 {
  width: 465px;
  transform-origin: left center 0px;
  margin: 68px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 889px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 247px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 282px;
  width: 600px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 283px;
  width: 283px;
  margin: 0 auto 0 -1px;
}

.u-section-2 .u-line-2 {
  width: 465px;
  transform-origin: left center 0px;
  margin: 68px 314px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-image-1 {
    height: 278px;
    width: 597px;
  }

  .u-section-2 .u-image-2 {
    width: 278px;
    height: 278px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-2 .u-line-2 {
    margin-top: 61px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-2 .u-image-1 {
    height: 223px;
    width: 473px;
    margin-top: 11px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 248px;
  }

  .u-section-2 .u-image-2 {
    width: 224px;
    height: 224px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-2 .u-image-1 {
    width: 517px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    margin-top: 0;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-2 .u-image-1 {
    height: 160px;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 58px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}