 .u-section-1 {
  background-image: url("images/Hero-1600x900.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 278px 676px 60px 104px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 576px;
    margin-left: 4px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 360px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/bgbg-013.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1933px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 510px 0 109px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 109px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 643px;
  margin: 80px auto 60px 145px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 242px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 398px;
  height: 398px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -58px auto -31px -16px;
}

.u-section-2 .u-line-1 {
  width: 679px;
  transform-origin: right center 0px;
  margin: 60px auto 0 145px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 643px;
  margin: 80px auto 60px 145px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 242px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 324px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  object-position: 0% 90.95%;
  width: 331px;
  height: 350px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -43px auto 0 -37px;
}

.u-section-2 .u-line-2 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 60px auto 0 145px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 643px;
  margin: 80px auto 60px 145px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 242px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 302px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 346px;
  height: 227px;
  margin: 0 -42px 0 auto;
}

.u-section-2 .u-line-3 {
  width: 679px;
  transform-origin: left center 0px;
  height: 1px;
  margin: 60px auto 0 146px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 643px;
  margin: 80px auto 60px 145px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 242px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 436px;
  height: 254px;
  margin: -28px auto 0 -46px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2122px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 410px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 314px;
    margin-top: -15px;
    margin-bottom: 0;
    width: 314px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    width: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    width: auto;
  }

  .u-section-2 .u-layout-cell-8 {
    background-position: 50% 50%;
    min-height: 270px;
  }

  .u-section-2 .u-image-4 {
    width: 314px;
    height: 183px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2077px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -21px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 331px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 41px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2829px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 19px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    width: 427px;
    margin-top: -33px;
    margin-left: 48px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 544px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-right: 113px;
    margin-left: 96px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 507px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -45px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 406px;
  }

  .u-section-2 .u-image-4 {
    width: 439px;
    margin-top: -33px;
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2575px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 128px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: -7px;
    width: 314px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-2 .u-image-2 {
    width: 248px;
    margin-top: -33px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 319px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -54px;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 256px;
  }

  .u-section-2 .u-image-4 {
    width: 314px;
    margin-top: -60px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/banner-01.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 381px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 209px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2160px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 64px 570px 0 114px;
}

.u-section-4 .u-text-2 {
  margin: 30px 33px 0 113px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-image-1 {
  min-height: 309px;
  background-image: url("images/56837263_2101087566675539_4706425927460978688_n-removebg-preview1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 679px;
  transform-origin: left center 0px;
  border-style: solid;
  margin: 48px auto 0 114px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 279px;
}

.u-section-4 .u-container-layout-4 {
  padding: 19px 0 4px;
}

.u-section-4 .u-image-2 {
  width: 356px;
  height: 238px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-2 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 55px auto 0 113px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 254px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 369px;
  height: 245px;
  margin: -21px auto 0 -31px;
}

.u-section-4 .u-line-3 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 52px auto 0 113px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 332px;
  height: 191px;
  margin: -8px auto 0 5px;
}

.u-section-4 .u-line-4 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 69px auto 0 116px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-line-5 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 66px auto 0 116px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 752px;
  margin: 33px auto 60px 116px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 356px;
  height: 183px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 470px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    background-position: 60.4% 50%;
  }

  .u-section-4 .u-layout-cell-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    margin-left: -22px;
  }

  .u-section-4 .u-line-2 {
    height: 1px;
  }

  .u-section-4 .u-layout-cell-6 {
    background-position: 8.42% 100%;
    background-size: auto 110%;
  }

  .u-section-4 .u-line-3 {
    height: 1px;
  }

  .u-section-4 .u-layout-cell-8 {
    background-position: 0% 50%;
  }

  .u-section-4 .u-layout-cell-10 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-line-5 {
    height: 1px;
  }

  .u-section-4 .u-layout-cell-12 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2319px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 264px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 304px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    width: 421px;
    height: 281px;
    margin-left: -60px;
  }

  .u-section-4 .u-line-2 {
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 282px;
  }

  .u-section-4 .u-image-3 {
    width: 409px;
    height: 272px;
    margin-top: -32px;
    margin-left: -54px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-image-4 {
    width: 451px;
    height: 259px;
    margin-top: -41px;
    margin-bottom: -15px;
    margin-left: -52px;
  }

  .u-section-4 .u-line-4 {
    margin-top: 68px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-line-5 {
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 211px;
  }

  .u-section-4 .u-image-5 {
    width: 471px;
    height: 242px;
    margin-top: -33px;
    margin-bottom: -14px;
    margin-left: -97px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3232px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 348px;
  }

  .u-section-4 .u-image-2 {
    height: 407px;
    margin-top: -73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 230px;
  }

  .u-section-4 .u-image-3 {
    height: 359px;
    margin-top: -135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 252px;
  }

  .u-section-4 .u-image-4 {
    height: 329px;
    margin-top: -89px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 275px;
  }

  .u-section-4 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 317px;
  }

  .u-section-4 .u-image-5 {
    width: 425px;
    height: 307px;
    margin-top: -16px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2559px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-image-1 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 184px;
  }

  .u-section-4 .u-image-2 {
    height: 227px;
    margin-top: -45px;
    margin-bottom: -14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 140px;
  }

  .u-section-4 .u-image-3 {
    height: 226px;
    margin-top: -122px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 116px;
  }

  .u-section-4 .u-image-4 {
    height: 195px;
    margin-top: -77px;
    margin-bottom: -18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 173px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 200px;
  }

  .u-section-4 .u-image-5 {
    height: 246px;
    margin-top: -73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/banner2-01.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-image-1 {
  width: 459px;
  height: 252px;
  margin: -624px 279px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 187px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/recycling_hero_3200x1800.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 989px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 61px 113px 0;
}

.u-section-6 .u-line-1 {
  width: 465px;
  transform-origin: left center 0px;
  margin: 37px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 555px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 256px;
  width: 534px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0;
}

.u-section-6 .u-line-2 {
  width: 465px;
  transform-origin: left center 0px;
  margin: 24px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 525px;
    margin-top: 25px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-6 .u-image-1 {
    height: 247px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-2 {
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-6 .u-image-1 {
    height: 239px;
    width: 517px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-line-2 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-6 .u-image-1 {
    height: 157px;
    width: 340px;
  }

  .u-section-6 .u-line-2 {
    width: 340px;
  }
}